@model IEnumerable<FinalProjectWorkspace.Models.Order>

@{
    ViewData["Title"] = "Transactions";
}

    <br />
<h1 class="text-center text-danger">Transactions</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />

<table class="table table-hover text-center">
    <thead>
        <tr class="table-primary text-center">
            <th>
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </th>
            <th>
                Movie Title(s)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                Seats Sold
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidWithPopcornPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PopcornPoints)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-secondary text-center text-dark">
            <td>
                @Html.DisplayFor(modelItem => item.TransactionNumber)
            </td>
            <td>
                @{List<string> moviesWatched = new List<string>(); }
                @foreach (var showing in item.Tickets)
                {
                    if (!moviesWatched.Contains(showing.Showing.Movie.Title))
                    {
                        moviesWatched.Add(showing.Showing.Movie.Title);
                    }
                }
                @foreach (string movie in moviesWatched)
                {
                    @movie
                    <br />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @{Int32 seatsSold = item.Tickets.Count(); }
                @seatsSold
            </td>
            <td>
                @if (item.PaidWithPopcornPoints == true)
                {
                    @:Yes
                }
                else
                {
                    @:No
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PopcornPoints)
            </td>
        </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-outline-primary" asp-action="ReportSearch">Back to Search</a>
</div>