@model IEnumerable<FinalProjectWorkspace.Models.Movie>

@{ ViewData["Title"] = "Movie Search Results"; }

<h1>Movies</h1>

<div>
    <a class="btn btn-outline-primary" asp-action="Browse">Back to Search</a>
</div>

<!--
<form asp-action="Index" asp-controller="Home" method="get">
    <p class="form-group">
        Search: <input name="SearchString" class="form-control" /><br />
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="DetailedSearch" class="btn btn-success">Detailed Search</a>
        <a asp-action="Index" class="btn btn-danger">Show All</a>
    </p>
</form>
    -->
<!--<p> Displaying ViewBag.SelectedJobs of ViewBag.AllJobs Job Postings</p>-->

<table class="table table-hover text-center" >
    <thead>
        <tr class="text-light text-center">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <!--
            <th>
        Html.DisplayNameFor(model => model.Overview)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.Tagline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <!--
            <th>
                Html.DisplayNameFor(model => model.Actors)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.MPAARating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
            <th>
                Find Showings Now!
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-secondary text-center text-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <!--
            <td>
                Html.DisplayFor(modelItem => item.Overview)
            </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.Tagline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RunTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <!--
            <td>
                Html.DisplayFor(modelItem => item.Actors)
            </td>
            --->
            <td>
                @Html.DisplayFor(modelItem => item.MPAARating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre.GenreName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.MovieID }, new { @class= "btn btn-outline-info" })
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-outline-primary" asp-action="Browse">Back to Search</a>
</div>

