@model FinalProjectWorkspace.Models.Order

@{
    ViewData["Title"] = "Shopping Cart";
}
<div class="text-center">
    <h1>Shopping Cart</h1>
</div>
<div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.TransactionNumber)
            </h5>
        </div>
        <p class="mb-1">
            @Html.DisplayFor(model => model.TransactionNumber)
        </p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.OrderDate)
            </h5>
        </div>
        <p class="mb-1">
            @Html.DisplayFor(model => model.OrderDate)
        </p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.OrderStatus)
            </h5>
        </div>
        <p class="mb-1">
            @Html.DisplayFor(model => model.OrderStatus)
        </p>
    </a>
</div>

<hr style="border:1px solid white" />

<h5>Tickets on this Order</h5>
<table class="table table-hover text-center">
    <tr class="text-light text-center">
        <th>Movie Title</th>
        <th>Seat Number</th>
        <th>Ticket Price</th>
        <th>Discount Amount</th>
        <th>Discount Name</th>
        <th>Total Cost</th>
    </tr>
    @foreach (Ticket t in Model.Tickets)
    {
        <tr class="table-secondary text-center text-dark">
            <td>@Html.DisplayFor(ModelItem => t.Showing.Movie.Title)</td>
            <td>@Html.DisplayFor(ModelItem => t.SeatNumber)</td>
            <td>@Html.DisplayFor(ModelItem => t.TicketPrice)</td>
            <td>@Html.DisplayFor(ModelItem => t.DiscountAmount)</td>
            @if (t.DiscountName == DiscountNames.Manitee)
            {
                <td>Manitee</td>
            }
            else if (t.DiscountName == DiscountNames.Tuesday_Discount)
            {
                <td>Discount Tuesday</td>
            }
            else if (t.DiscountName == DiscountNames.Senior_Discounts)
            {
                <td>Senior</td>
            }
            else if (t.DiscountName == DiscountNames.Manitee_and_Senior)
            {
                <td>Manitee &amp; Senior</td>
            }
            else if (t.DiscountName == DiscountNames.Tuesday_and_Senior)
            {
                <td>Discount Tuesday &amp; Senior</td>
            }
            else
            {
                <td>None</td>
            }
            <td>@Html.DisplayFor(ModelItem => t.TotalCost)</td>
        </tr>
    }
</table>

<h5>Order Summary</h5>
@if (Model.Tickets.Any(t => t.Showing.SpecialEvent == true))
{
    <p class="text-info">NOTE: There is a special event showing in the order that is ineligbile for any discounts or popcorn point redemptions!</p>
}
<table class="table-secondary text-dark" style="width:40%; padding:10px">
    <tr>
        <th colspan="2" style="text-align:center">Order Summary</th>
    </tr>
    <tr>
        <td>Order Subtotal:</td>
        <td>@Html.DisplayFor(model => model.OrderSubtotal)</td>
    </tr>
    <tr>
        <td>Taxes:</td>
        <td>@Html.DisplayFor(model => model.Taxes)</td>
    </tr>
    <tr>
        <td>Order Total:</td>
        <td>@Html.DisplayFor(model => model.OrderTotal)</td>
    </tr>
    @if (Model.Tickets.Sum(t => t.DiscountAmount) > 0)
    {
        <tr>
            <td>Amount Saved With Discounts:</td>
            @{ Decimal discountSaved = Model.Tickets.Sum(t => t.DiscountAmount);}
            <td>$@discountSaved</td>
        </tr>
    }
</table>

@if (Model.OrderStatus == "Active")
{
    <a asp-action="Edit" asp-route-id="@Model.OrderID" class="btn btn-info">Add or Remove Tickets</a>
    @if (Model.OrderTotal > 0 && Model.OrderStatus != "Paid")
    {
    <br />
    <div class="float-right">
        <form asp-action="CompleteOrder" asp-route-id="@Model.OrderID" method="get">
            <input type="hidden" asp-for="OrderID" />
            <div>
                <label class="form-check-label">
                    Is this a gift?
                <input type="checkbox" id="myCheck" onclick="myFunction()" />
                </label>
            </div>
            <div id="text" style="display:none">
                <label asp-for="Recipient.UserName" class="control-label">Email of Gift Recipient</label>
                <input id="textInput" asp-for="Recipient.UserName" class="form-control" placeholder="Recipient's Email" />
            </div>
            <div class="float-left">
                <label asp-for="PaidWithPopcornPoints" class="control-label">What would you like to pay with?</label><br />
                <input type="radio" class="radio" asp-for="PaidWithPopcornPoints" value=false checked="checked" />Cash<br />
                @if (Model.Purchaser.PCPBalance >= (Model.Tickets.Count() * 100) && Model.Tickets.Any(t => t.Showing.SpecialEvent) != true)
                {
                    <label asp-for="PaidWithPopcornPoints" class="control-label">What would you like to pay with?</label><br />
                    <input type="radio" class="radio" asp-for="PaidWithPopcornPoints" value=true /> @:Popcorn Points<br />
                }
                <input type="submit" value="Pay" class="btn btn-success" onclick="viewText" />
            </div>
        </form>
    </div>
    }
}
else
{
    <a asp-action="Cancelled" asp-route-id="@Model.OrderID" class="btn btn-danger">Cancel Order</a> @:|
}
<div>
    <a asp-action="Index" class="btn btn-warning">Back to Order History</a>
</div>

<script>
    function myFunction() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // Get the output text
        var text = document.getElementById("text");

        //If the checkbox is checked, display the output text
        if (checkBox.checked == true) {
            text.style.display = "block";
        } else {
            text.style.display = "none";

        }
    }

    function viewText() {
        // Get the checkbox
        var checkBox = document.getElementById("myCheck");
        // Get the output text
        var text = document.getElementById("textInput");

        //If the checkbox is checked, display the output text
        if (checkBox.checked == false) {
            text.value = null;

        }
    }
</script>