@model FinalProjectWorkspace.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr style="border:1px solid white" />

<h5>Tickets on this Order</h5>
<table class="table table-hover text-center">
    <tr class="text-light text-center">
        <th>Movie Title</th>
        <th>Seat Number</th>
        <th>Ticket Price</th>
        <th>Total Cost</th>
    </tr>
    @foreach (Ticket t in Model.Tickets)
    {
        <tr class="table-secondary text-center text-dark">
            <td>@Html.DisplayFor(ModelItem => t.Showing.Movie.Title)</td>
            <td>@Html.DisplayFor(ModelItem => t.SeatNumber)</td>
            <td>@Html.DisplayFor(ModelItem => t.TicketPrice)</td>
            <td>@Html.DisplayFor(ModelItem => t.TotalCost)</td>
        </tr>
    }
</table>


<a asp-controller="Ticket" asp-action="Create" asp-route-orderid="@Model.OrderID" class="btn btn-success">Add More Tickets</a>
<a asp-controller="Ticket" asp-action="Index" asp-route-orderid="@Model.OrderID" class="btn btn-info">Edit Existing Tickets</a>

<div>
    <a asp-action="Index">Back to List</a>
</div>

