@model FinalProjectWorkspace.Models.Price

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Price</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceAmount)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@Model.PriceID">Edit</a> |
    <a class="btn btn-outline-primary" asp-action="Index">Back to Price List</a>
</div>
