@model IEnumerable<FinalProjectWorkspace.Models.Price>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceAmount)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.PriceID">Edit</a> |
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.PriceID">Details</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.PriceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
