@model FinalProjectWorkspace.Models.Showing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Showing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Theatre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Theatre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialEvent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShowingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
