@model IEnumerable<FinalProjectWorkspace.Models.Showing>

@{
    ViewData["Title"] = "Index";
}

<h1>Movie Schedule</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Add Movie Showing</a>
    <a class="btn btn-outline-primary" asp-controller="Movie" asp-action="Create">Create New Movie</a>
    <a class="btn btn-outline-primary"
       asp-action="Publish">Publish all unpublished showings</a>
    <a class="btn btn-outline-primary" asp-action="CopySchedule">Copy Schedules</a>


</p>

<form asp-action="Index" method="get">
    <p class="form-group">
        First Schedule Day: <input name="StartingShowingDate" class="form-control" type="date" /><br />
        Select a Date to View Showings: <input name="ShowingDate" class="form-control" type="date" /><br />

        <div>
            Select the Theatre: <br />
            <input type="radio" id="theatre1" name="theatre" value="theatre1">
            <label for="theatre1">Theatre 1</label><br>
            <input type="radio" id="theatre2" name="theatre" value="theatre2">
            <label for="theatre2">Theatre 2</label><br>
            <input type="radio" id="all" name="theatre" value="Both">
            <label for="Both">Both</label><br>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
        <a asp-action="Index" class="btn btn-danger">Show All</a>
    </p>
</form>

<table class="table table-hover text-center">
    <thead>
        <tr class="text-light text-center">
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <td>
                @Html.DisplayNameFor(model => model.ShowingDate)
            </td>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theatre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialEvent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-secondary text-center text-dark">
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theatre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <span>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @if (User.IsInRole("Manager"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.ShowingID">Edit | </a>
                            <a asp-action="Delete" asp-route-id="@item.ShowingID">Delete</a>
                        }
                    }

                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ShowingID">Details</a>

                </span>
            </td>
        </tr>
}
    </tbody>
</table>
