@model IndexViewModel
@{
    ViewBag.Title = "Account Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>

        <dt>Popcorn Points:</dt>
        <dd>@Model.PCPBalance</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>

        <dt>Middle Initial:</dt>
        <dd>@Model.MiddleInitial</dd>

        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>

        <dt>Address:</dt>
        <dd>@Model.Address</dd>

        <dt>City:</dt>
        <dd>@Model.City</dd>

        <dt>State:</dt>
        <dd>@Model.State</dd>

        <dt>Zip:</dt>
        <dd>@Model.Zip</dd>

        <dt>Birthday:</dt>
        <dd>@Model.Birthday</dd>

        <dt>Password:</dt>
        <dd>
            [@Html.ActionLink("Change your password", "ChangePassword")]
        </dd>
        <a asp-action="EditAccount" asp-route-id="@Model.UserID" class="btn btn-outline-primary text-center">Edit Account</a>
        <a asp-action="ChangePassword" asp-route-id="@Model.UserID" class="btn btn-outline-primary text-center">Change password</a>

    </dl>
</div>